<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.snapchat.com/add/karangupta7251"><i class="fa-brands fa-square-snapchat"></i></a>
            <a href="https://www.instagram.com/karan___._.___/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/karan-gupta-b7450b247/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-title">&copy; Sarayu Private Limited</div>
        <div class="f-info-links">
            <a class="f-privacy" href="/privacy">Privacy</a>
            <a class="f-terms" href="/terms">Terms</a>
        </div>
    </div>
</footer>